.container{
    width: 100%;
    height: 100%;
    background-color: coral;
    display: flex;
    flex-direction: row;
    .picture{
        width: 30%;
        height: 100%;
        padding: 1vw 0;
    }
    .introduction{
        width: 70%;
        height: 100%;
        margin: 2vw 1vw;
    }
}