<div class="container">
    <header>
        <img src="../assets/media/logo.png" class="w-15 h-80" />
        <!-- <h2 class="prName">Project Dileep</h2> -->
        <nav>
            <ul>
                <li routerLink="home"><a routerLinkActive="active">Home</a></li>
                <li routerLink="aboutUs"><a routerLinkActive="active">About Us</a></li>
                <li routerLink="contactUs"><a routerLinkActive="active">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <router-outlet></router-outlet>
    </section>
    <footer>
        <h1>Copyright &copy; limited</h1>
    </footer>
</div>